/* #root {
  
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

#role-grid {
  display: grid;
  grid-template-columns: [trainer] 100px [or] 10px [trainee] 100px [end];
}

.page {
  scrollbar-width: none;
  -ms-overflow-style: none
}
.page::-webkit-scrollbar {
  display: none;
}